<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<Properties>
		<Property name="date">%d{yyyy-MM-dd HH:mm:ss.SSS}</Property>
	</Properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${date} [%-5level] %logger{10} - %msg %n" />
		</Console>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>